* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

img, nav{
    display: inline-block;
}

img {
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 2rem;
}
nav {
    position:absolute;
    right: 2rem;
}
li {
    display:inline-block;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

aside, section{
    display: inline-block;
}

div {
    height:10rem;
    width:10rem;
    background-color:red;
    padding:1rem;
}

header {
    height: 10vh;
    background-color: aquamarine;
}
main {
    height: 80vh;
}
footer {
    height:10vh;
    display:inline-block
}
